.footer {
    height: 0px;
    position: fixed;
    left: 0;
    bottom: 100px;
    width: 100%;
    color: black;
    text-align: center;
    font-size: 35px;
    margin: 0;
    padding: 0;
  }

  .git {
    color: rgb(68, 68, 68);
}