.footer {
    height: 0px;
    position: fixed;
    left: 0;
    bottom: 100px;
    width: 100%;
    color: black;
    text-align: center;
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: white;
  }

  .git {
    color: rgb(68, 68, 68);
}